<script src="https://giscus.app/client.js" 
        {{ with .Site.Params.comments.giscus }}

        {{ with .repo }}
        data-repo="{{ .name }}"
        data-repo-id="{{ .id }}"
        {{ end }}

        {{ with .category }}
        data-category="{{ .name }}"
        data-category-id="{{ .id }}"
        {{ end }}
        
        data-mapping="{{ .mapping | default "pathname" }}"
        data-reactions-enabled="{{ .reactionsEnabled | default 1 }}"
        data-emit-metadata="{{ .emitMetadata | default 0 }}"
        data-theme="{{ .theme | default "preferred_color_scheme" }}"
        data-lang="{{ .lang | default "zh-CN" }}"

        {{ if .lazyLoading }}
        data-loading="lazy"
        {{ end }}
        
        crossorigin="anonymous"
        async
        {{ end }}
        >
        
</script>

<script>
    function setGiscusTeheme(theme) {
        let giscus = document.querySelector('.giscus iframe');
        if (giscus) {
            giscus.contentWindow.postMessage(
                {
                    giscus: {
                        setConfig: {
                            theme: theme
                        }
                    }
                },
                'https://giscus.app'
            )
        }
    }

    addEventListener('message', event => {
        if (event.origin !== 'https://giscus.app') return;
        setGiscusTeheme(document.documentElement.dataset.userColorScheme)
    });

    window.addEventListener('onColorSchemeChange', (e) => {
        setGiscusTeheme(e.detail)
    })
</script>